/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  width: 100vw;
  height: 100px;
  background-color: white;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo_box {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXtnU_YzLe2Rt27pKETm0JuBVxzJx3_eveEw&usqp=CAU");
    height: 80px;
    border: 1px dotted gray;
    width: 250px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .link_box {
    margin: 10px;
    height: 80px;
    width: auto;
    align-self:flex-end;
    border: 1px gray dotted;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }
}
